*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#f5b761,  #2be6a8);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    background-color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}

form button{
    cursor: pointer;
    color: #f5b761;
    transition: all 0.3s ease;
}

form button:hover{
    background: #f5b761;
    color: white;
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    list-style: none;
    min-width: 30%;
    
}

.todo{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    align-items: center;
}

.todo li{
    flex: 1;
}

.todo-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.check-btn, .trash-btn{
    border: none;
    padding: 0.7rem;
    background-color: #1be153;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-btn{
    background-color: #e13f1b;
}

.check-btn:hover{
    background-color:rgb(212, 212, 212);
    color: #1be153;
}

.trash-btn:hover{
    background-color: rgb(213, 212, 212);
    color: #e13f1b;
}